<template>
    <div class="Polaris-Page__Content">
        <div style="margin-top: 30px;">

            <div class="video-row">
                <div class="d-flex Polaris-Page__Title Polaris-TextContainer--spacingTight" style="margin-bottom: 20px;">

                    <p class="Polaris-Heading" style="font-size: 30px;font-weight: 300;padding: 10px 0px;"><span>&#128075;
                    {{lang[`${current_lang1}`].Welcome}} {{lang[`${current_lang1}`].to}} </span><span style="color:rgb(64, 85, 241)">{{lang[`${current_lang1}`].Global}} {{lang[`${current_lang1}`].Metafields}} {{lang[`${current_lang1}`].Manager}}</span></p>
                </div>
                <p style="margin-bottom: 20px;">{{lang[`${current_lang1}`].Follow}} {{lang[`${current_lang1}`].the}} 3 {{lang[`${current_lang1}`].steps}} {{lang[`${current_lang1}`].below}} {{lang[`${current_lang1}`].to}} {{lang[`${current_lang1}`].start}} {{lang[`${current_lang1}`].using}} {{lang[`${current_lang1}`].your}} {{lang[`${current_lang1}`].custom}} {{lang[`${current_lang1}`].metafields}} {{lang[`${current_lang1}`].today}}.</p>
<!--                <p style="margin-bottom: 20px;">{{lang[`${current_lang1}`].Watch}} {{lang[`${current_lang1}`].the}} {{lang[`${current_lang1}`].video}} {{lang[`${current_lang1}`].then}} {{lang[`${current_lang1}`].follow}} {{lang[`${current_lang1}`].these}} {{lang[`${current_lang1}`].three}} {{lang[`${current_lang1}`].steps}} {{lang[`${current_lang1}`].to}} {{lang[`${current_lang1}`].create}} {{lang[`${current_lang1}`].and}} {{lang[`${current_lang1}`].use}} {{lang[`${current_lang1}`].your}} {{lang[`${current_lang1}`].metafields}}.</p>-->
<!--                <div class="embed-video" style="width: 100%;">-->
<!--                    <iframe height="400" style="width: inherit;"-->
<!--                            src="https://www.youtube.com/embed/tgbNymZ7vqY">-->
<!--                    </iframe>-->
<!--                </div>-->
                <div class="d-flex justify-content-between w-100" style="margin: 40px 0px;">
                    <div class="d-flex static-btn">
                        <span class="static-tag-span" style="">1</span>
                        <p class="static-tag-p" style="">{{lang[`${current_lang1}`].Setup}} {{lang[`${current_lang1}`].Configuration}}</p>
                    </div>
                    <div class="d-flex static-btn">
                        <span class="static-tag-span" style="">2</span>
                        <p class="static-tag-p" style="">{{lang[`${current_lang1}`].Add}} {{lang[`${current_lang1}`].Custom}} {{lang[`${current_lang1}`].Data}}</p>
                    </div>
                    <div class="d-flex static-btn">
                        <span class="static-tag-span" style="">3</span>
                        <p class="static-tag-p" style="">{{lang[`${current_lang1}`].Add}} {{lang[`${current_lang1}`].To}} {{lang[`${current_lang1}`].Theme}} {{lang[`${current_lang1}`].Code}}</p>
                    </div>
                </div>
            </div>
            <div class="custom-row ad-dashboard-divide">
                <div class="w-100" style="clear:both;">
                    <ul role="tablist" class="Polaris-Tabs" style="width:90.60%;float:left;padding-left: 20px;">
                        <li role="presentation" class="Polaris-Tabs__TabContainer">
                            <button class="Polaris-Tabs__Tab " v-bind:class="{'Polaris-Tabs__Tab--selected' : ( type === 'settings' )}" @click="type='settings'">
                                <span class="Polaris-Tabs__Title">{{lang[`${current_lang1}`].Settings}}</span>
                            </button>
                        </li>
                        <li  role="presentation" class="Polaris-Tabs__TabContainer">
                            <button class="Polaris-Tabs__Tab "  v-bind:class="{'Polaris-Tabs__Tab--selected' : ( type === 'pricing' )}" @click="type='pricing'">
                                <span class="Polaris-Tabs__Title">{{lang[`${current_lang1}`].Plans}} & {{lang[`${current_lang1}`].Pricing}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="Polaris-Page__Content dashboard-style" v-if="type === 'settings'">
                <div class="custom-box">
                    <div class="custom-row" style="padding: 20px;">
                        <div v-for="item in items" class="w-100">
                            <router-link :to="{name :item.name , params:{ resourceType: item.resourceType, lang: current_lang1   } }" tag="a" class="area-settings-nav__action">
                                <div class="area-settings-nav__media">
                                    <span class="menu-icons menu-settings" :style="`background-image: url(`+item.background_image+`)`"></span>
                                </div>
                                <div>
                                    <p class="area-settings-nav__title">
                                        {{  lang[`${current_lang1}`][`${item.title}`] }}
                                    </p>
                                    <p class="area-settings-nav__description">
                                        {{ lang[`${current_lang1}`][`${item.description}`]}}
                                    </p>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-row ad-dashboard-divide dashboard-style" v-else style="padding: 20px;">
                <div align="center" class="card-plan">
                    <p align="left" class="card-plan-heading" style="font-size: 25px;">Pricing</p>
                    <p align="left" style="font-size: 15px;">We have one plan for Global Metafields Manager, with a 7 day free trial:</p>
                    <p align="left" class="card-plan-heading" style="font-size: 20px;"><i>$19 USD/Month</i></p>
                    <p align="left">Global Configuration</p>
                    <p align="left">Sync Existing Metafields</p>
                    <p align="left">Bulk Import/Export Metafields via CSV</p>
                    <p align="left">Add/Edit all Metafields easily</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import PageFooter from "../shopify/PageFooter";
    import helper from "../../helper";
    import {ContextualSaveBar} from "@shopify/app-bridge/actions";
    import lang from "../../lang";

    export default {
        components:{
            PageFooter,
        },
        props: ['new_lang'],
        data(){
            return{
                items: [],
                installation_path: '',
                pricing_path: '',
                types : [
                    {name: 'String', value: 'string'},
                    {name: 'Number', value: 'number'},
                    {name: 'Email', value: 'email'},
                    {name: 'Rich Text Box', value: 'rich_text_box'},
                    {name: 'File', value: 'file'},
                    {name: 'Image', value: 'image'},
                    {name: 'Multiple Image', value: 'multiple_image'},
                    {name: 'URL', value: 'url'},
                    {name: 'Phone', value: 'phone'},
                    {name: 'Color Picker', value: 'color_picker'},
                    {name: 'Date Picker', value: 'date_picker'},
                    {name: 'Json', value: 'json'},
                ],
                curr_page: '',
                is_contentload: true,
                type: 'settings',
                lang: lang,
                current_lang1: this.new_lang,
            }
        },
        created() {
            this.$router.options.routes.forEach(route => {
                if(route.meta.ignoreInMenu === 0){
                    this.items.push({
                        title: route.meta.title,
                        description: route.meta.description,
                        name: route.name,
                        path: route.path,
                        dafaultActiveClass: route.meta.dafaultActiveClass,
                        resourceType: route.meta.resourceType,
                        background_image:route.meta.background_image,
                    });
                }
            });

            this.installation_path = window.shopify_app_bridge.localOrigin + '/installation-instruction';
            this.pricing_path = window.shopify_app_bridge.localOrigin + '/plan-pricing';
        },
        mounted(){
            document.getElementById('Polaris-Main').classList.add("template-dashboard");
        },
        watch:{
            new_lang:{
                immediate: true,
                deep: true,
                handler: function () {
                    this.current_lang1 = this.new_lang;
                }
            }
        }
    };
</script>
<style>
    .dashboard-style{
        padding: 0 3.2rem;
    }
</style>
