<template>
    <div>
    <Menus @update="changeLang"></Menus>
    <div id="Polaris-Main"  class="Polaris-Page">
        <router-view :new_lang="current_lang_index"></router-view>
        <!-- <page-footer ref="pagefooter" ></page-footer> -->
    </div>
    </div>
</template>

<script>
    import Menus from './menu';
    import PageFooter from "../shopify/PageFooter";
    export default {
        components:{
            Menus,
            PageFooter
        },
        data(){
            return{
                current_lang_index : 'en',
            }
        },
        methods:{
            changeLang(lang){
                this.current_lang_index = lang;
                this.$refs.pagefooter.change_lang(lang);
            }
        },
        created() {
        },
    };
</script>
