<template>
    <div class="">
        <div class="d-flex w-100 ad-dashboard-divide-menu" style="clear: both;">
            <ul role="tablist" class="Polaris-Tabs main-menu" >
                <li  role="presentation" class="Polaris-Tabs__TabContainer">
                    <router-link :to="{name :'dashboard'}" tag="button" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected">
                        <span class="Polaris-Tabs__Title">{{lang[`${current_lang_value}`].Dashboard}}</span>
                    </router-link>
                </li>
                <li  role="presentation" class="Polaris-Tabs__TabContainer">
                    <a class="Polaris-Tabs__Tab " href="https://acquireconvert.com" target="_blank">
                        <span class="Polaris-Tabs__Title">[{{lang[`${current_lang_value}`].Free}}] {{lang[`${current_lang_value}`].Learn}} {{lang[`${current_lang_value}`].Shopify}} {{lang[`${current_lang_value}`].Marketing}}</span>
                    </a>
                </li>
                <li  role="presentation" class="Polaris-Tabs__TabContainer">
                    <a class="Polaris-Tabs__Tab " href="https://acquireconvert.zendesk.com/hc/en-us" target="_blank">
                        <span class="Polaris-Tabs__Title">{{lang[`${current_lang_value}`].Help}}</span>
                    </a>
                </li>
            </ul>
            <div class="lang-dropdown">
                <v-select :options="options" label="title" v-model="selected" @input="setSelected" :map-keydown="handlers">
                    <div slot="option" slot-scope="option">
                        <img :src="option.cardImage" style="width: 20px;">
                        {{ option.title }}
                    </div>
                </v-select>
            </div>
<!--            <div style="padding-top: 10px;">-->
<!--                <div class="Polaris-Select"><select id="PolarisSelect2" class="Polaris-Select__Input" aria-invalid="false" v-model="current_lang_value" @change="changeLang($event)">-->
<!--                    <option data-content='<span class="flag-icon flag-icon-us"></span> English' :value="item.value" v-for="(item, index) in init_lang" class="">{{item.label}}</option>-->
<!--                </select>-->
<!--                    <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">{{current_lang}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">-->
<!--                  <path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path>-->
<!--                </svg></span></span></div>-->
<!--                    <div class="Polaris-Select__Backdrop"></div>-->
<!--                </div>-->
<!--                </div>-->
        </div>
    </div>
</template>
<script>
    import lang from "../../lang";
    import FlagsDropdown from 'flags-dropdown-vue';
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";
    import helper from "../../helper";
    import {ContextualSaveBar} from "@shopify/app-bridge/actions";
    export default {
        components:{
            vSelect
        },
        data(){
            return{
                selected: {
                    title: "English",
                    cardImage: "/images/flags/usa.png",
                    value: 'en',
                },
                options: [
                    {
                    title: "English",
                    // cardImage: "https://cdn.pixabay.com/photo/2017/03/14/21/00/american-flag-2144392__340.png",
                    cardImage: "/images/flags/usa.png",
                    value: 'en',
                },
                    {
                        title: "French",
                        cardImage: "/images/flags/french.png",
                        value: 'fr',

                    },
                    {
                        title: "Deutsch",
                        cardImage: "/images/flags/deutsch.png",
                        value: 'de',

                    },
                    {
                        title: "Portugues",
                        cardImage: "/images/flags/portugues.png",
                        value: 'po',

                    }
            ],
                init_lang: [
                    {label: 'English' , value: 'en'},
                    {label: 'French' , value: 'fr'},
                    {label: 'Deutsch' , value: 'de'},
                    {label: 'Portugues' , value: 'po'},
                ],
                current_lang: '🇺🇸English',
                current_lang_value: 'en',
                bk: ['🇺🇸 English', '🇫🇷 French'],
                lang: lang,
            }
        },
        methods:{
            handlers: function(map, vm){
                console.log('handllersssss');
            },
            setSelected: function (data) {
                if( data ){
                // <img src="https://cdn.pixabay.com/photo/2017/03/14/21/00/american-flag-2144392__340.png" style="width: 20px;">
                    document.getElementsByClassName('flag-icon')[0].src = data.cardImage;
                    this.current_lang_value = data.value;
                    let curr_route = this.$route.name;
                    // if(this.$route.name === 'dashboard'){
                        this.$route.meta.lang = data.value;
                    // }
                    this.$emit('update', data.value);
                    // this.$router.push({ name: curr_route, params: {new_lang: data.value }});
                }
            }
        },
        mounted(){
            var img = document.createElement('img');
            img.src = this.selected.cardImage;
            // img.style = "margin-left: 5px;padding-top: 5px;width: 19px;height: 20px;";
            img.className= 'flag-icon';
            let parentElement = document.getElementsByClassName('vs__selected-options')[0];
            parentElement.insertBefore(img, parentElement.children[0]);
            document.getElementsByClassName('vs__search')[0].remove();
        }
    };
</script>
<style>
    .ad-dashboard-divide .vs__selected-options{
        width: 100px;
    }
    .ad-dashboard-divide .vs__clear{
        display: none;
    }
</style>
