<template>
    <div class="Polaris-FooterHelp">
        <div class="Polaris-FooterHelp__Content">
            <img src="/images/AC logo icon.svg" style="margin-right: 20px;padding-left: 12px;">
            <div class="Polaris-FooterHelp__Text"> © 2012 - 2020 <a href="https://acquireconvert.com" target="_blank" style="color:#007ace;text-decoration: none;">{{lang[`${curr_lang}`].AcquireConvert}}</a> - {{  lang[`${curr_lang}`].Whole}} {{  lang[`${curr_lang}`].Design}} {{  lang[`${curr_lang}`].Studios}} {{  lang[`${curr_lang}`].Ltd}}</div>
        </div>
    </div>
</template>

<script>
    import lang from "../../lang";
    export default {
        name: "PageFooter",
        data(){
            return{
                lang: lang,
                curr_lang: 'en',
            }
        },
        methods:{
            change_lang(lang){
                this.curr_lang = lang;
            }
        }
    }
</script>
